body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #000;
    color: #feda4a;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #111;
    padding: 20px;
    border-bottom: 2px solid #feda4a;
}

h1 {
    font-size: 3em;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 15px #feda4a77;
}

section img {
    max-width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #111;
    color: #888;
}
